body{
    background-image:url("Purple Paradise.jpg") ;
}
.center
  {
    
    text-align: center;
      
      
  }
  #declare
  {
    margin-left: 50px;
  }
  #submit
  {
      margin-left: 50px;
  }